#app {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

nav {
    width: 50%;
}

.selected {
    border: 2px black;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

li {
    width: 75%;
}